body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    overflow: hidden; /* Hide overflow to prevent scrolling */
}

#main-content {
    display: flex;
    height: 100vh; /* 100% of the viewport height */
}

.left-part {
    width: 30%;
    background: linear-gradient(to bottom, #004080, #FF8C00); /* Dark blue to orange gradient */
    color: white;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-part h1 {
    margin-bottom: 20px;
}

.left-part p {
    margin: 10px 0;
}

.right-part {
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto; /* Enable scrolling for the right part if needed */
}

h1, h2 {
    color: #4a6bff;
}

.dashboard-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.dashboard-button {
    background-color: #fff;
    color: #4a6bff;
    padding: 40px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    width: 100%; /* Updated width for mobile view */
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

.dashboard-button:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.button-icon {
    font-size: 30px;
    margin-bottom: 10px;
}

/* Additional styling for the buttons */
.manage-classrooms {
    background-color: #4caf50; /* Green */
    color: white;
}

.manage-students {
    background-color: #2196F3; /* Blue */
    color: white;
}

.manage-payments {
    background-color: #f44336; /* Red */
    color: white;
}

.manage-staff {
    background-color: #FFD700; /* Yellow */
    color: #333;
}

.manage-notices {
    background-color: #FF69B4; /* Pink */
    color: #333;
}

.manage-other {
    background-color: #808080; /* Gray */
    color: #fff;
}

/* Modern styles for admin info */
.admin-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logout-button {
    background-color: #dc3545; /* Red */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.logout-button:hover {
    background-color: #c82333; /* Darker red on hover */
}

/* Media query for smaller screens */
@media screen and (min-width: 600px) {
    .dashboard-button {
        width: 28%; /* Adjusted width for larger screens */
    }
}
